input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:hover{
  cursor: pointer;
}

.carousel-item,
.carousel-item img{
  width: 100%;
  height: 400px;
}

.card .card-img-top{
  width: 220px;
  max-height: 280px;
}

a:hover{
  text-decoration: underline!important;
}

.alert{
  margin: 0;
  border-radius: 0;
}

.carousel-caption{
  text-align: right;
}

.carousel-caption h4{
  text-shadow: 2px 2px 0px #000000;
}

.card .card-img-top{
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

.icon-card{
  width: 50px;
}

.imagen-producto img{
  max-width: 350px;
}

.badge-warning{
  color: #fafafa!important;
}
